@charset "utf-8";
/* CSS Document */

.redBorder {
	border: 1px solid #8a181a;
	margin-bottom: 4px;
}
#leftColumn #subMenu {
	margin-top: 16px;
	margin-left: 18px;
	padding-bottom: 16px;
}
#middleColumn #newTalent #tallRight ul li { margin-left: 17px; }
