@charset "utf-8";
/* CSS Document */

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
body 
{
    color:White;
	background-color: #000;
	text-align: left;
	font: 62.5%/1.1 "Trebuchet MS", Tahoma, Arial, Helvetica;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}

ol, ul {
	list-style: none;
}
p, #middleColumn ol , #middleColumn ul{ padding-bottom: 12px; }
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
.cleaner {
	clear:both;
	height:1px;
	font-size:1px;
	border:none;
	margin:0; padding:0;
	background:transparent;
}

.contentBlock h2 { margin-bottom: 11px; }

.contentBlock h2 span { display: none; }









.clear { clear: both; }