<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SecurityKey" value="C1iP1111v31f11S1F1a(f1*1" />
	  <add key="CfsDebugMode" value="false"/>


	  <add key="NoStrippersMessage" value="Sorry, there are no strippers in this category."/>

	  <add key="NewYorkIntro" value="We are the largest upscale exotic dancer service in the USA, specializing in having the sexiest New York Strippers since 1996. No other adult entertainment agency can compete with the beauty of our stunning New York Strippers or the professionalism of our booking agents. Centerfold Strips is proud to have provided the hottest New York Strippers to rock stars, rappers, professional athletes and heads of state. But you don't have to be famous to be a VIP at Centerfold Strips; it only takes one call for one of our expert service agents to connect you with gorgeous Strippers in NYC."/>
	  <add key="NewYorkRightColumn" 
		   value="&lt;p&gt;Centerfold Strips will bring the best Strippers in NYC to your bachelor or &lt;a href='[siteroot]Entertainers/Talent.aspx?cat=female'&gt;bachelorette parties&lt;/a&gt;, office parties or birthdays; we  can come to you or bring you and your party out in our &lt;a href='[siteroot]Exclusives/Limos-and-Party-Buses.aspx'&gt;exotic limousine or party bus&lt;/a&gt;! &lt;/p&gt;
				&lt;p&gt;Our New York strippers are perfect for whatever occasion your looking to make sexier – from erotic &lt;a href='[siteroot]Services/Party-Accessories.aspx'&gt;Pop Out Cakes&lt;/a&gt; to naughty &lt;a href='[siteroot]Entertainers/Talent.aspx?cat=bbw'&gt;Big Booty Strippers&lt;/a&gt;&lt;em&gt;,&lt;/em&gt; Centerfold  Strips’ friendly staff will help you plan the perfect adult entertainment party from start to finish.&lt;/p&gt;"/>
	  <!--<add key="NewYorkPageTitle" value="NewYorkPageTitle"/>-->

	  <!--<add key="BostonIntro" value="BostonIntro"/>
    <add key="BostonRightColumn" value="BostonRightColumn"/>
    <add key="BostonPageTitle" value="BostonPageTitle"/>

    <add key="LongIslandIntro" value="LongIslandIntro"/>
    <add key="LongIslandRightColumn" value="LongIslandRightColumn"/>
    <add key="LongIslandPageTitle" value="LongIslandPageTitle"/>

    <add key="AtlanticCityIntro" value="AtlanticCityIntro"/>
    <add key="AtlanticCityRightColumn" value="AtlanticCityRightColumn"/>
    <add key="AtlanticCityPageTitle" value="AtlanticCityPageTitle"/>

    <add key="NewJerseyIntro" value="NewJerseyIntro"/>
    <add key="NewJerseyRightColumn" value="NewJerseyRightColumn"/>
    <add key="NewJerseyPageTitle" value="NewJerseyPageTitle"/>

    <add key="PhiladelphiaIntro" value="PhiladelphiaIntro"/>
    <add key="PhiladelphiaRightColumn" value="PhiladelphiaRightColumn"/>
    <add key="PhiladelphiaPageTitle" value="PhiladelphiaPageTitle"/>

    <add key="PennsylvaniaIntro" value="PennsylvaniaIntro"/>
    <add key="PennsylvaniaRightColumn" value="PennsylvaniaRightColumn"/>
    <add key="PennsylvaniaPageTitle" value="PennsylvaniaPageTitle"/>

    <add key="PittsburghIntro" value="PittsburghIntro"/>
    <add key="PittsburghRightColumn" value="PittsburghRightColumn"/>
    <add key="PittsburghPageTitle" value="PittsburghPageTitle"/>

    <add key="MiamiIntro" value="MiamiIntro"/>
    <add key="MiamiRightColumn" value="MiamiRightColumn"/>
    <add key="MiamiPageTitle" value="MiamiPageTitle"/>

    <add key="TampaIntro" value="TampaIntro"/>
    <add key="TampaRightColumn" value="TampaRightColumn"/>
    <add key="TampaPageTitle" value="TampaPageTitle"/>

    <add key="OrlandoIntro" value="OrlandoIntro"/>
    <add key="OrlandoRightColumn" value="OrlandoRightColumn"/>
    <add key="OrlandoPageTitle" value="OrlandoPageTitle"/>

    <add key="JacksonvilleIntro" value="JacksonvilleIntro"/>
    <add key="JacksonvilleRightColumn" value="JacksonvilleRightColumn"/>
    <add key="JacksonvillePageTitle" value="JacksonvillePageTitle"/>

    <add key="FloridaIntro" value="FloridaIntro"/>
    <add key="FloridaRightColumn" value="FloridaRightColumn"/>
    <add key="FloridaPageTitle" value="FloridaPageTitle"/>

    <add key="BaltimoreIntro" value="BaltimoreIntro"/>
    <add key="BaltimoreRightColumn" value="BaltimoreRightColumn"/>
    <add key="BaltimorePageTitle" value="BaltimorePageTitle"/>

    <add key="MarylandIntro" value="MarylandIntro"/>
    <add key="MarylandRightColumn" value="MarylandRightColumn"/>
    <add key="MarylandPageTitle" value="MarylandPageTitle"/>

    <add key="SeattleIntro" value="SeattleIntro"/>
    <add key="SeattleRightColumn" value="SeattleRightColumn"/>
    <add key="SeattlePageTitle" value="SeattlePageTitle"/>

    <add key="WashingtonIntro" value="WashingtonIntro"/>
    <add key="WashingtonRightColumn" value="WashingtonRightColumn"/>
    <add key="WashingtonPageTitle" value="WashingtonPageTitle"/>

    <add key="LosAngelesIntro" value="LosAngelesIntro"/>
    <add key="LosAngelesRightColumn" value="LosAngelesRightColumn"/>
    <add key="LosAngelesPageTitle" value="LosAngelesPageTitle"/>

    <add key="SanDiegoIntro" value="SanDiegoIntro"/>
    <add key="SanDiegoRightColumn" value="SanDiegoRightColumn"/>
    <add key="SanDiegoPageTitle" value="SanDiegoPageTitle"/>

    <add key="SanFranciscoIntro" value="SanFranciscoIntro"/>
    <add key="SanFranciscoRightColumn" value="SanFranciscoRightColumn"/>
    <add key="SanFranciscoPageTitle" value="SanFranciscoPageTitle"/>

    <add key="CaliforniaIntro" value="CaliforniaIntro"/>
    <add key="CaliforniaRightColumn" value="CaliforniaRightColumn"/>
    <add key="CaliforniaPageTitle" value="CaliforniaPageTitle"/>

    <add key="MassachusettsIntro" value="MassachusettsIntro"/>
    <add key="MassachusettsRightColumn" value="MassachusettsRightColumn"/>
    <add key="MassachusettsPageTitle" value="MassachusettsPageTitle"/>

    <add key="PhoenixIntro" value="PhoenixIntro"/>
    <add key="PhoenixRightColumn" value="PhoenixRightColumn"/>
    <add key="PhoenixPageTitle" value="PhoenixPageTitle"/>

    <add key="ArizonaIntro" value="ArizonaIntro"/>
    <add key="ArizonaRightColumn" value="ArizonaRightColumn"/>
    <add key="ArizonaPageTitle" value="ArizonaPageTitle"/>

    <add key="AtlantaIntro" value="AtlantaIntro"/>
    <add key="AtlantaRightColumn" value="AtlantaRightColumn"/>
    <add key="AtlantaPageTitle" value="AtlantaPageTitle"/>

    <add key="GeorgiaIntro" value="GeorgiaIntro"/>
    <add key="GeorgiaRightColumn" value="GeorgiaRightColumn"/>
    <add key="GeorgiaPageTitle" value="GeorgiaPageTitle"/>

    <add key="DenverIntro" value="DenverIntro"/>
    <add key="DenverRightColumn" value="DenverRightColumn"/>
    <add key="DenverPageTitle" value="DenverPageTitle"/>

    <add key="ColoradoIntro" value="ColoradoIntro"/>
    <add key="ColoradoRightColumn" value="ColoradoRightColumn"/>
    <add key="ColoradoPageTitle" value="ColoradoPageTitle"/>

    <add key="NevadaIntro" value="NevadaIntro"/>
    <add key="NevadaRightColumn" value="NevadaRightColumn"/>
    <add key="NevadaPageTitle" value="NevadaPageTitle"/>

    <add key="LasVegasIntro" value="LasVegasIntro"/>
    <add key="LasVegasRightColumn" value="LasVegasRightColumn"/>
    <add key="LasVegasPageTitle" value="LasVegasPageTitle"/>

    <add key="StLouisIntro" value="StLouisIntro"/>
    <add key="StLouisRightColumn" value="StLouisRightColumn"/>
    <add key="StLouisPageTitle" value="StLouisPageTitle"/>

    <add key="MissouriIntro" value="MissouriIntro"/>
    <add key="MissouriRightColumn" value="MissouriRightColumn"/>
    <add key="MissouriPageTitle" value="MissouriPageTitle"/>

    <add key="DetroitIntro" value="DetroitIntro"/>
    <add key="DetroitRightColumn" value="DetroitRightColumn"/>
    <add key="DetroitPageTitle" value="DetroitPageTitle"/>

    <add key="MichiganIntro" value="MichiganIntro"/>
    <add key="MichiganRightColumn" value="MichiganRightColumn"/>
    <add key="MichiganPageTitle" value="MichiganPageTitle"/>

    <add key="NorthCarolinaIntro" value="NorthCarolinaIntro"/>
    <add key="NorthCarolinaRightColumn" value="NorthCarolinaRightColumn"/>
    <add key="NorthCarolinaPageTitle" value="NorthCarolinaPageTitle"/>

    <add key="CharlotteIntro" value="CharlotteIntro"/>
    <add key="CharlotteRightColumn" value="CharlotteRightColumn"/>
    <add key="CharlottePageTitle" value="CharlottePageTitle"/>

    <add key="ChicagoIntro" value="ChicagoIntro"/>
    <add key="ChicagoRightColumn" value="ChicagoRightColumn"/>
    <add key="ChicagoPageTitle" value="ChicagoPageTitle"/>

    <add key="IllinoisIntro" value="IllinoisIntro"/>
    <add key="IllinoisRightColumn" value="IllinoisRightColumn"/>
    <add key="IllinoisPageTitle" value="IllinoisPageTitle"/>

    <add key="ColumbusIntro" value="ColumbusIntro"/>
    <add key="ColumbusRightColumn" value="ColumbusRightColumn"/>
    <add key="ColumbusPageTitle" value="ColumbusPageTitle"/>

    <add key="OhioIntro" value="OhioIntro"/>
    <add key="OhioRightColumn" value="OhioRightColumn"/>
    <add key="OhioPageTitle" value="OhioPageTitle"/>

    <add key="DallasIntro" value="DallasIntro"/>
    <add key="DallasRightColumn" value="DallasRightColumn"/>
    <add key="DallasPageTitle" value="DallasPageTitle"/>

    <add key="HoustonIntro" value="HoustonIntro"/>
    <add key="HoustonRightColumn" value="HoustonRightColumn"/>
    <add key="HoustonPageTitle" value="HoustonPageTitle"/>

    <add key="SanAntonioIntro" value="SanAntonioIntro"/>
    <add key="SanAntonioRightColumn" value="SanAntonioRightColumn"/>
    <add key="SanAntonioPageTitle" value="SanAntonioPageTitle"/>

    <add key="TexasIntro" value="TexasIntro"/>
    <add key="TexasRightColumn" value="TexasRightColumn"/>
    <add key="TexasPageTitle" value="TexasPageTitle"/>-->


  </appSettings>
  <connectionStrings>

    <!--PRODUCTION-->
    <add name="CenterfoldConn" connectionString="Data Source=DED1138\sqlexpress;Initial Catalog=CenterfoldNew;Persist Security Info=True;User ID=sa;Password=DeadCats1;MultipleActiveResultSets=True;"
      providerName="System.Data.SqlClient" />
    <add name="CfsEntityOld" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DED1138\sqlexpress;Initial Catalog=centerfold;Persist Security Info=True;User ID=sa;Password=DeadCats1;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="CfsEntity" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DED1138\sqlexpress;Initial Catalog=CenterfoldNew;Persist Security Info=True;User ID=sa;Password=DeadCats1;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="CfsEntity_Saas" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DED1138\sqlexpress;Initial Catalog=CenterfoldNew_SA;Persist Security Info=True;User ID=sa;Password=DeadCats1;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />

    <!--DEVELOPMENT-->
	  <!--
    <add name="CenterfoldConn" connectionString="Data Source=192.168.1.146;Initial Catalog=CenterfoldNew;Persist Security Info=True;User ID=sa;Password=iHKybd!;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="CfsEntity" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.146;Initial Catalog=CenterfoldNew;Persist Security Info=True;User ID=sa;Password=iHKybd!;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	-->

</connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <customErrors mode="Off" />
    <compilation debug="true" defaultLanguage="c#">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Entity, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="None" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		<add verb="*" path="OboutInc.UploadProgressHandler.aspx" type="OboutInc.FileUpload.UploadProgressHandler, obout_FileUpload, Version=1.9.120.1, Culture=neutral, PublicKeyToken=c8b4009f4d53d5e5" />
	</httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		<add name="OboutUploadModule" type="OboutInc.FileUpload.UploadProgressModule, obout_FileUpload, Version=1.9.120.1, Culture=neutral, PublicKeyToken=c8b4009f4d53d5e5" />
	</httpModules>
    <httpRuntime maxRequestLength="2097151">
    </httpRuntime>

    <!-- Set DOM version for W3C validator (otherwise page will render with HTML version 4.0 when accessed by W3C user agent -->
    <browserCaps>
      <case match="W3C_Validator*">
        TagWriter = System.Web.UI.HtmlTextWriter
        W3CDomVersion = 1.0
      </case>
    </browserCaps>

    <sessionState timeout="300"></sessionState>
    
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="OptionInfer" value="true" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>